@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 250;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-Thin.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 250;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 275;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 275;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 500;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: normal;
  font-weight: 900;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-Black.woff") format("woff");
}
@font-face {
  font-family: "Argentum Sans";
  font-style: italic;
  font-weight: 900;
  src: local("Argentum Sans"), url("../tipografia/ArgentumSans-BlackItalic.woff") format("woff");
}
