* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

/** GENERAL CLASSES */
.z-index-sticky {
  z-index: 1020;
}
.z-index-modal {
  z-index: 1040;
}
.dropdown.nav-item .dropdown-menu-animation.show {
  height: auto;
}
.main-container {
  background: #f8f8f8;
}
/** ---- SUBPAGES ---- */
.img-header {
  h1 {
    left: 50px;
  }
}

.col-info-proyecto {
  .line-after:after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #c7c7c9;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .title-section {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0%;
  }
  .table-info-proyecto {
    td:nth-child(1) {
      padding-right: 10px;
    }
  }
}
