* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}
body {
  --logo-header-height: 75px;
  --offset-top: -3rem;
  --header-height: 91px;
  --footer-height: 54.75px;
  --vh100-offset-header: calc(var(--header-height));
  --vh100-offset: calc(var(--header-height) + var(--footer-height));

  @media (max-width: 400px) {
    --footer-height: 51.5px;
    //--vh100-offset: calc(var(--header-height) + var(--footer-height-m400));
  }
}
body.no-scoll-bar::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}
.p,
p {
  letter-spacing: 0.5px;
}
//custom selection text
::selection {
  background: $selection-bg !important;
  text-shadow: 2.5px 2px 2px $secondary;
  color: $light;
}

/** GENERAL CLASSES */
.vh-min-100 {
  min-height: calc(100svh - var(--vh100-offset));
  /*
  @media (max-width: 768px) {
    min-height: calc(100svh - var(--vh100-offset));
  }*/
}
.z-index-sticky {
  z-index: 1020;
}
.z-index-modal {
  z-index: 1040;
}
.dropdown.nav-item .dropdown-menu-animation.show {
  height: auto;
}
.main-container {
  background-color: $gray-200;
}
.dropdown .dropdown-menu.dropdown-menu-end:before {
  display: none !important;
}
.object-fit-cover {
  object-fit: cover;
}
.object-fit-contain {
  object-fit: contain;
}

/** ---- HEADER ---- */
.header.navbar {
  .logo-header {
    height: var(--logo-header-height);
  }
  @media (max-width: 992px) {
    #navigation.navbar-collapse {
      //background-color: $gray-100;
    }
  }
  .nav-link {
    font-size: $font-size-base;
  }
}
.enserio-page {
  padding-top: calc(var(--logo-header-height) + var(--offset-top));
  padding-bottom: 2rem;
}

/** ---- FOOTER ---- */
.footer {
  max-height: var(--footer-height);
  padding: 0px 5px;
  p {
    font-size: 0.875rem;
  }
  @media (max-width: 400px) {
    p {
      font-size: 0.75rem;
    }
  }
}

/** ---- HOME ---- */
.pagina-home {
  .big-container {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .title {
    font-size: 20rem;
  }
  @media (max-width: 1200px) {
    .title {
      font-size: 16rem;
    }
  }
  @media (max-width: 992px) {
    .title {
      font-size: 12rem;
    }
  }
  @media (max-width: 768px) {
    .title {
      font-size: 10rem;
    }
  }
  @media (max-width: 576px) {
    .title {
      font-size: 5rem;
    }
  }
  @media (max-width: 360px) {
    .title {
      font-size: 3rem;
    }
  }
}

/** ---- LISTADO PROYECTOS ---- */
/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  /*medium*/
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  /*small*/
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
.grid-item {
  float: left;
  padding: 10px;
}
.img_content {
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  overflow: hidden;
}
/*
.grid-loaded {
  opacity: 1;
}*/
.img_content img {
  display: block;
  max-width: 100%;
  width: 100%;
  transition: 0.3s;
  transition: transform 0.3s;
}
/*
.grid-item:hover img {
  opacity: 0.5;
}*/
.text_content {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity 0.3s, visibility 0.3s;
}
.text_content .title {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
}
.text_content .category {
  font-size: 1.2em;
  text-align: center;
}
.img_content:hover .text_content {
  visibility: visible;
  opacity: 1;
}
.img_content:hover img {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/** ---- PAGINA PROYECTO ---- */
.pagina-proyecto {
  .img-header {
    max-height: 200px;
    overflow: hidden;
    .main-title {
      top: 50%;
      transform: translateY(-50%);
      * {
        color: $h1-color;
      }
    }
  }
  .col-main-image {
    img {
      max-height: 600px;
      object-fit: contain;
    }
  }
  .col-info-proyecto {
    .line-after:after {
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background-color: #c7c7c9;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .title-section {
      letter-spacing: $letter-tighter;
      font-weight: $font-weight-bold;
      font-size: $h4-font-size;
      line-height: $h4-line-height;
      @include media-breakpoint-down(sm) {
        font-size: rfs-fluid-value($h4-font-size);
      }
      color: $headings-color;
      margin: 0;
    }

    .table-info-proyecto {
      td:nth-child(1) {
        padding-right: 10px;
      }
    }
  }
  .slider-proyecto {
    .splide img {
      width: 100%;
    }
    .splide {
      cursor: grab;
    }
  }
}
.modal-video,
.main-video {
  width: 100%;
  height: 100%;
  position: relative;

  .video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/** IMAGES AT MODAL */
.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  padding-left: 75px;
  padding-right: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);

  .modal-content {
    max-height: 80%;
    width: 100%;
    height: 100%;
  }
  .modal-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .caption-modal {
    text-transform: uppercase;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
  }
  .modal-image,
  .modal-content {
    background-color: transparent;
  }
  .modal-image,
  .caption-modal,
  .modal-video {
    -webkit-animation-name: zoom-modal;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom-modal;
    animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom-modal {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
  @keyframes zoom-modal {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

/** ---- CONTACTO ---- */
.pagina-contacto {
  .input-group.input-group-dynamic .form-control,
  .input-group.input-group-static .form-control {
    transition: 0.2s ease;
  }
  img {
    object-fit: cover;
    object-position: left;
  }
}
