$utilities: () !default;
$utilities: map-merge(
  (
    "position": (
      property: position,
      values: static relative absolute fixed sticky inherit,
    ),
  ),
  $utilities
);

$utilities: map-merge(
  (
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        125: 125%,
        150: 150%,
        auto: auto,
      ),
    ),
  ),
  $utilities
);
